<div class="relative items-start justify-between rounded-xl border border-gray-100 p-4 shadow-xl sm:p-6 lg:p-8 mx-auto w-1/2 bg-white">
  <h3 class="mt-2 text-lg font-bold text-gray-900 sm:text-xl">
    Search something
  </h3>

  <%= form_with model: @keyword, url: keywords_path, data: { turbo: false }, method: :get do |f| %>
    <div class="flex">
      <%= f.text_field :search, class: "mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm", value: params[:search]%>
      <%= f.submit "Search", class: "btn btn-blue ml-2"%>
    </div>
  <% end %>

</div>

<div class="relative items-start justify-between rounded-xl border border-gray-100 p-4 shadow-xl sm:p-6 lg:p-8 mx-auto w-[70%] bg-white mt-4">

  <div class="relative overflow-x-auto">
      <table class="table-responsive">
        <thead>
          <tr>
            <th scope="col">English</th>
            <th scope="col">Word Class</th>
            <th scope="col">Example/Description</th>
            <th scope="col">Category/Group</th>
            <th scope="col">Turkish</th>
          </tr>
        </thead>
        <tbody>
        <% @keywords.each do |keyword|%>
          <% keyword.translates.each do |translate| %>
            <tr>
              <td scope="row"><%= keyword.marked_word(params[:search]) %></td>
              <td class="italic"><%= translate.word_class.join("/")%></td>
              <td><%= translate.description%></td>
              <td><%= translate.category.capitalize %></td>
              <td><%= translate.translated %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
