<!DOCTYPE html>
<html>
  <head>
    <title>TIGD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'pagination', media: 'all', 'data-turbo-track': 'reload'%>
    <script src="https://kit.fontawesome.com/f1689f91ea.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#E6F6FF]">
    <%= render "layouts/navbar"%>
    <main class="container mx-auto mt-5 px-5">
      <%= yield %>
    </main>
  </body>
</html>
